h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.gantt-container {
    margin: 50px auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    border-radius: 12px;
}

.task-row {
    display: flex;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.task-name {
    width: 150px;
    text-align: right;
    margin-right: 10px;
    font-weight: 600;
}

.task-bar-container {
    flex: 1;
    position: relative;
    height: 100%;
}

.task-bar {
    position: absolute;
    height: 100%;
    background-color: #4678a3;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    font-size: 0.85rem;
    overflow: hidden;
    white-space: nowrap;
}

.gantt-container::-webkit-scrollbar {
    height: 8px;
}
.gantt-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}
