* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    background-color: #4678a3;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.topbar h1 {
    flex: 1;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}


.logo {
    height: 50px;
    width: auto;
}

.right-items {
    display: flex;
    align-items: center;
}

.right-items a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}