<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{action.create} + ' ' + #{entity.project}"></title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/header.css">
</head>
<body>

<div th:replace="~{header :: mainHeader}"></div>

<form class="form-project" th:action="@{/OnTheDot/addProject}" th:object="${project}" method="post">
    <h1 th:text="#{action.create} + ' ' + #{entity.project}"></h1>
    <input th:field="*{projectID}" type="hidden">

    <div class="group">
        <input th:field="*{projectName}"
               th:placeholder="#{field.name}"
               class="input" required>
    </div>

    <div class="button-group">
        <button type="submit" class="btn" th:text="#{action.create}"></button>
        <a th:href="@{/OnTheDot/projects}" class="btn" th:text="#{action.cancel}"></a>
    </div>
</form>
<div class="errorText" th:if="${error}">
    <p th:text="${error}"></p>
</div>
</body>
</html>