<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create project</title>
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/forms.css">
</head>
<body>

<h1> Create project</h1>

<form th:action="@{/OnTheDot/addProject}" th:object="${project}" method="post">
  <input th:field="*{projectID}" type="hidden" />

  <div class="group">
    <input th:field="*{projectName}" placeholder="Name of project" type="search" class="input" required>
  </div>

    <div class="button-group">
  <button type="submit" class="btn">create</button>
  <a th:href="@{/OnTheDot/home}" class="btn">Cancel</a>
    </div>
</form>
</body>
</html>