<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{action.create} + ' ' + #{entity.subproject}"></title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/header.css">
</head>
<body>
<div th:replace="~{header :: mainHeader}"></div>

<div class="form-project">
    <h1 th:text="#{action.create} + ' ' + #{entity.subproject}"></h1>

<form th:action="@{/OnTheDot/addSubproject}" th:object="${subproject}" method="post">
    <input type="hidden" name="projectID" th:value="${projectID}">

    <div class="group">
        <input th:field="*{subprojectName}"
               th:placeholder="#{field.name}"
               class="input" required>
    </div>

    <div class="button-group">
        <button type="submit" class="btn" th:text="#{action.create}"></button>
        <a th:href="@{/OnTheDot/subproject(projectID=${projectID})}" class="btn" th:text="#{action.cancel}"></a>
    </div>
</form>
</div>
</body>
</html>
