<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{action.create} + ' ' + #{entity.task}"></title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/overview.css">
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/header.css">
</head>
<body>
<div th:replace="~{header :: mainHeader}"></div>

<main class="page add-task-page">

    <h1 th:text="#{action.create} + ' ' + #{entity.task}"></h1>

    <form th:action="@{/OnTheDot/addTask}" th:object="${task}" method="post" class="form-card">

        <input type="hidden" name="subprojectID" th:value="${subprojectID}">

        <div class="group">
            <label th:for="*{taskName}" th:text="#{entity.task} + ' '+ #{field.name}"></label>
            <input th:field="*{taskName}" type="text" class="input" required>
        </div>

        <div class="group">
            <label th:for="*{startDate}" th:text="#{field.startDate}"></label>
            <input th:field="*{startDate}" type="date" class="input" required>
        </div>

        <div class="group">
            <label th:for="*{deadline}" th:text="#{field.deadline}"></label>
            <input th:field="*{deadline}" type="date" class="input" required>
        </div>

        <div class="group">
            <label th:for="*{personAssigned}" th:text="#{field.personAssigned}"></label>
            <input th:field="*{personAssigned}" type="text" class="input" required>
        </div>

        <div class="group">
            <label th:for="*{actualTimeUsed}" th:text="#{field.actualTimeUsed}"></label>
            <input th:field="*{actualTimeUsed}" type="number" class="input" required>
        </div>

        <div class="button-group">
            <button type="submit" class="btn" th:text="#{action.create}"></button>
            <a th:href="@{/OnTheDot/task(subprojectID=${subprojectID})}" class="btn" th:text="#{action.cancel}"></a>
        </div>
    </form>
    <div class="errorText" th:if="${error}">
        <p th:text="${error}"></p>
    </div>
</main>
</body>
</html>
