<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="/task.css">
    <link rel="stylesheet" href="/header.css">
</head>
<body>

<header class="topbar">
    <a href="/OnTheDot/projects" class="logo-link">
        <img src="/images/logo.PNG" alt="Logo" class="logo"></a>

    <h1> On The Dot</h1>

    <div class="right-items">
        <a href="https://github.com/Misomota/Eksamensprojekt" class="logo-link">
            <img src="/images/github.PNG" alt="Logo" class="logo"></a>

        <a th:href="@{/account/logout}">Sign Out</a>
    </div>
</header>

<a th:href="@{/OnTheDot/addTask(subprojectID=${subprojectID})}" class="btn">create task</a>


<table>
    <tr>
        <th>Task</th>
        <th>Start date</th>
        <th>Deadline</th>
        <th>Time estimation</th>
        <th>Resource</th>
        <th>Action</th>
    </tr>

    <tr th:each="t : ${tasks}">
        <td th:text="${t.taskName}">Task Name</td>
        <td th:text="${t.startDate}">Start Date</td>
        <td th:text="${t.deadline}">Deadline</td>
        <td th:text="${t.timeEstimate}">Time estimation</td>
        <td th:text="${t.resource}">Task resource</td>
        <td th:text="${t.duration}">Duration</td>
        <td th:text="${t.personAssigned}">People assigned</td>
        <td>
            <form th:action="@{/OnTheDot/deleteTask}" method="post">
                <input type="hidden" name="taskID" th:value="${t.taskID}">
                <input type="hidden" name="subprojectID" th:value="${subprojectID}">
                <button type="submit">Delete</button>
            </form>
            <a th:href="@{/OnTheDot/editTask(taskID=${t.taskID}, subprojectID=${subprojectID})}" class="btn">Edit</a>

        </td>
    </tr>
</table>
</body>
</html>