<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="/task.css">
</head>
<body>

<a th:href="@{/OnTheDot/addTask}" class="btn">create</a>

<table th:if="${!task.isEmpty()}">
    <tr>
        <th>Task</th>
        <th>Start date</th>
        <th>Deadline</th>
        <th>Resource</th>
        <th>Action</th>
    </tr>

    <tr th:each="t : ${task}">
        <td contenteditable="true" th:text="${t.taskName}">Task Name</td>
        <td contenteditable="true" th:text="${t.startDate}">Start Date</td>
        <td contenteditable="true" th:text="${t.deadline}">Deadline</td>
        <td contenteditable="true" th:text="${t.resource}">Task Name</td>
        <td>
            <form th:action="@{/OnTheDot/deleteTask}" method="post">
                <input type="hidden" name="id" th:value="${t.taskID}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<div th:if="${task.isEmpty()}">
    <p>No tasks found. Please click "Add New Task" to create one.</p>
</div>
</body>
</html>