<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{entity.project}"></title>
    <link rel="stylesheet" href="/overview.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/button.css">
</head>
<body>
<div th:replace="~{header :: mainHeader}"></div>

<main class="page">
    <h1 th:text="#{entity.project}"></h1>
<a th:href="@{/OnTheDot/addProject}" class="btn" th:text="#{action.create} + ' ' + #{entity.project}"></a>

<div th:if="${projects.isEmpty()}">
    <h2 th:text=" #{entity.project} + ' ' + #{field.empty}  + '. ' + #{field.create.new}"></h2>
</div>

<table th:if="${!projects.isEmpty()}">
    <tr th:each="p : ${projects}">
        <td>
            <a th:href="@{/OnTheDot/subproject(projectID=${p.projectID})}" th:text="${p.projectName}"></a>
        </td>
        <td>
            <a th:href="@{/OnTheDot/editProject(projectID=${p.projectID})}" class="btn" th:text="#{action.edit}"></a>
            <form th:action="@{/OnTheDot/deleteProject}" method="post" style="display:inline;">
                <input type="hidden" name="projectID" th:value="${p.projectID}">
                <button type="submit" th:text="#{action.delete}"></button>
            </form>
        </td>
    </tr>
</table>
</main>
</body>
</html>