<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{entity.subproject}"></title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/overview.css">
</head>
<body>
<div th:replace="~{header :: mainHeader}"></div>

<main class="page">

    <div class="page-header">
        <h1 th:text="#{entity.subproject}"></h1>
        <div class="header-buttons">
            <a th:href="@{/OnTheDot/addSubproject(projectID=${projectID})}" class="btn primary"
               th:text="#{action.create} + ' ' + #{entity.subproject}"></a>
            <a th:href="@{/OnTheDot/projects}" class="btn secondary"
               th:text="#{action.back}"></a>
        </div>
    </div>

    <div class="project-card">

    <div th:if="${subprojects.isEmpty()}">
        <img th:src="#{item.empty.image}" alt="Empty Subproject" width="150" height="150">
    </div>

        <table th:if="${!subprojects.isEmpty()}" class="project-table">
            <tbody>
            <tr th:each="s : ${subprojects}">
                <td>
                    <a class="project-name"
                       th:text="${s.subprojectName}"
                       th:href="@{/OnTheDot/task(subprojectID=${s.subprojectID})}">
                    </a>
                </td>

                <td th:text="${s.totalHours} + ' timer brugt'"></td>

                <td class="actions">
                    <a th:href="@{/OnTheDot/editSubproject(subprojectID=${s.subprojectID}, projectID=${projectID})}"
                       class="btn small"
                       th:text="#{action.edit}"></a>

                    <form th:action="@{/OnTheDot/deleteSubproject}" method="post">
                        <input type="hidden" name="subprojectID" th:value="${s.subprojectID}">
                        <input type="hidden" name="projectID" th:value="${projectID}">
                        <button type="submit" class="btn small danger"
                                th:text="#{action.delete}"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
